* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(238, 236, 236);
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1120px;
  border: 1px solid #555;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}

.grid-1 {
  width: calc(8.3333333333% - 24px);
  margin: 12px;
}

.grid-2 {
  width: calc(16.6666666667% - 24px);
  margin: 12px;
}

.grid-3 {
  width: calc(25% - 24px);
  margin: 12px;
}

.grid-4 {
  width: calc(33.3333333333% - 24px);
  margin: 12px;
}

.grid-5 {
  width: calc(41.6666666667% - 24px);
  margin: 12px;
}

.grid-6 {
  width: calc(50% - 24px);
  margin: 12px;
}

.grid-7 {
  width: calc(58.3333333333% - 24px);
  margin: 12px;
}

.grid-8 {
  width: calc(66.6666666667% - 24px);
  margin: 12px;
}

.grid-9 {
  width: calc(75% - 24px);
  margin: 12px;
}

.grid-10 {
  width: calc(83.3333333333% - 24px);
  margin: 12px;
}

.grid-11 {
  width: calc(91.6666666667% - 24px);
  margin: 12px;
}

.grid-12 {
  width: calc(100% - 24px);
  margin: 12px;
}

header {
  background-color: white;
  width: 100%;
  height: 72px;
  z-index: 3;
}

div.container-1 {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul.item-lista-1 {
  list-style: none;
  display: flex;
}
ul.item-lista-1 li {
  padding: 10px 14px;
  position: relative;
  display: flex;
  justify-content: center;
}
ul.item-lista-1 li:hover::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -20px;
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%)) 1;
     border-image: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%)) 1;
  width: 100%;
}
ul.item-lista-1 a.item-link-1-1 {
  color: hsl(233deg, 8%, 62%);
  text-decoration: none;
}

a.button-1 {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  padding: 10px 24px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
a.button-1:hover {
  transform: scale(1.05);
}

main {
  width: 100%;
}

.bg-container-2 {
  width: 100%;
  background: hsl(0deg, 0%, 98%) url("../images/bg-intro-desktop.svg") center right no-repeat fixed;
  background-size: 900px;
  background-position: 46vw;
}
@media screen and (max-width: 960px) {
  .bg-container-2 {
    background-position: 36vw;
  }
}

.container-2 {
  max-width: 1120px;
  height: 89vh;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
}

.item-container-2 {
  display: inline-block;
  border: none;
  height: 264px;
  width: 500px;
}
.item-container-2 .item-2-h1 {
  font-size: 3em;
  font-weight: 400;
  color: hsl(233deg, 26%, 24%);
  margin-bottom: 20px;
}
.item-container-2 .item-2-p {
  color: hsl(233deg, 8%, 62%);
  line-height: 140%;
  margin-bottom: 20px;
}

.item-container-2-1 {
  height: 700px;
  width: 626px;
  background: transparent url("../images/image-mockups.png") right center/contain no-repeat;
  margin-left: 12px;
  position: relative;
  transform: translate(37%, 13%);
  z-index: 1;
}
@media screen and (max-width: 960px) {
  .item-container-2-1 {
    background: transparent url("../images/image-mockups.png") right center/contain no-repeat;
    width: 876px;
  }
}

.container-3 {
  max-width: 1120px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.titulo {
  margin-left: 12px;
}
.titulo h2 {
  margin: 72px 0 24px 0;
  color: hsl(233deg, 26%, 24%);
  font-size: 2.2em;
  font-weight: 300;
}
.titulo p {
  display: inline;
  color: hsl(233deg, 8%, 62%);
  line-height: 140%;
}

.conteudo {
  display: flex;
  margin-top: 56px;
  margin-bottom: 64px;
}
@media screen and (max-width: 960px) {
  .conteudo {
    flex-direction: column;
  }
}

@media screen and (max-width: 960px) {
  .conteudo-1 {
    display: flex;
    width: 95%;
  }
  .conteudo-1 img {
    margin-right: 50px;
  }
}
.conteudo-1 img {
  margin-bottom: 30px;
}
.conteudo-1 h3 {
  color: hsl(233deg, 26%, 24%);
  line-height: 160%;
  font-weight: 400;
  margin-bottom: 20px;
}
.conteudo-1 p {
  display: inline;
  color: hsl(233deg, 8%, 62%);
  line-height: 140%;
  font-size: 1em;
}

.bg-container-4 {
  background-color: hsl(0deg, 0%, 98%);
  width: 100%;
}

.container-4 {
  max-width: 1120px;
  background-color: hsl(0deg, 0%, 98%);
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.container-4 h2 {
  margin: 72px 0 24px 0;
  color: hsl(233deg, 26%, 24%);
  font-size: 2.2em;
  font-weight: 300;
  margin-left: 12px;
}

.item-4 {
  display: flex;
  margin-top: 56px;
  margin-bottom: 64px;
  font-size: 90%;
}
@media screen and (max-width: 960px) {
  .item-4 {
    flex-direction: column;
  }
}

.item-4-1 {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .item-4-1 {
    display: flex;
    width: 95%;
  }
}
.item-4-1 img {
  width: 40vw;
  height: 188px;
}
.item-4-1 h4 {
  color: hsl(233deg, 8%, 62%);
  font-size: 0.8em;
  padding: 15px 25px 8px 25px;
}
.item-4-1 h3 {
  color: hsl(233deg, 26%, 24%);
  line-height: 100%;
  font-weight: 400;
  padding: 0 25px;
}
.item-4-1 p {
  color: hsl(233deg, 8%, 62%);
  line-height: 140%;
  font-size: 1em;
  padding: 10px 25px 20px 25px;
}/*# sourceMappingURL=style.css.map */